<html>

<head>
    <title>Add Product</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/shop">shop</a>
                </li>
                <li>
                    <a href="/addProduct">
                        Add product
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Product List</h1>
        <ul>
            <li>Product1</li>
        </ul>
    </main>
</body>

</html>